#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

#button-pair {
  padding: 50px;
  display:flex;
  justify-content: center;
  gap: 30px;
}

button {
  width: 200px;
  height: 75px;
  border-radius: 10px;
}
